{% extends 'base/Main_template.html' %}

{% load static %}

{% block content %}

<div class="container-fluid takeclass-bg-color">
    <div class="row main-container">
      <div class="col-9 mx-auto ml-1.5 mr-1.5">
        <div class="take-a-class-container">

          <div class="class-video">
            <video class="main-video" src="{% static '/videos/samplevideo.mp4' %}" autoplay muted></video>
          </div>
          <div class="d-flex subject-container">
            <span class="select-subjects-text"
              style="color: #1f389e; font-size: 18px; font-weight: bolder;">Select&nbsp;Subjects</span>
            <div class="subject-navbar">
              <nav class="navbar navbar-expand-lg navbar-light bg-grey">
                <div class="container-fluid" style="padding:0px;">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="l1Dropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Language 1
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="l1Dropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Grammar</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Poetry</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Literature</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="l2Dropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Language 2
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="l2Dropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Grammar</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Poetry</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Literature</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="l3Dropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Language 3
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="l3Dropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Grammar</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Poetry</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Literature</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mathsDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Maths
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="mathsDropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Calculus</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Vectors</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Geometry</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="scienceDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Science
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="scienceDropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Physics</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Chemistry</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Biology</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Zoology</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Botany</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="socialDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Social
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="socialDropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">History</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Geography</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Civics</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Political Science</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="computersDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Computers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="computersDropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">HTML</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">MS Office</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">C language</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="gkDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          GK
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gkDropdown">
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Politics</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Civils</a></li>
                          <li><a class="dropdown-item" href="{% url 'takeaclassPage2' %}">Current Affairs</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
              </nav>
            </div>
          </div>
          <div class="videohistory-container">

            <div class="continue-watching">
              <div class="takeclass-text-div">
                  <div class="takeclass-text-div-child">
                    <span class="takeclass-text">
                      <a href="#">Home</a>
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 48 48" role="img"
                        aria-labelledby="ChevronRight3e39c339-1bed-4be8-ff4b-16c5b5cff856 ChevronRight3e39c339-1bed-4be8-ff4b-16c5b5cff856Desc"
                        xmlns="http://www.w3.org/2000/svg" style="fill: #5d5d5d; height: 30px; width: 28px;">
                        <polygon transform="translate(23.999500, 24.000000) scale(-1, 1) translate(-23.999500, -24.000000)"
                          points="16 24 30.585 40 31.999 38.586 18.828 24 31.999 9.415 30.585 8" role="presentation">
                        </polygon>
                      </svg>
                    </span>
                    <span class="takeclass-text">
                      <a href="#">Subject</a>
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 48 48" role="img"
                        aria-labelledby="ChevronRight3e39c339-1bed-4be8-ff4b-16c5b5cff856 ChevronRight3e39c339-1bed-4be8-ff4b-16c5b5cff856Desc"
                        xmlns="http://www.w3.org/2000/svg" style="fill: #5d5d5d; height: 30px; width: 28px;">
                        <polygon transform="translate(23.999500, 24.000000) scale(-1, 1) translate(-23.999500, -24.000000)"
                          points="16 24 30.585 40 31.999 38.586 18.828 24 31.999 9.415 30.585 8" role="presentation">
                        </polygon>
                      </svg>
                    </span>
                    <span class="takeclass-text">
                      <a href="#">Chapter-1</a>
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 48 48" role="img"
                        aria-labelledby="ChevronRight3e39c339-1bed-4be8-ff4b-16c5b5cff856 ChevronRight3e39c339-1bed-4be8-ff4b-16c5b5cff856Desc"
                        xmlns="http://www.w3.org/2000/svg" style="fill: #5d5d5d; height: 30px; width: 28px;">
                        <polygon transform="translate(23.999500, 24.000000) scale(-1, 1) translate(-23.999500, -24.000000)"
                          points="16 24 30.585 40 31.999 38.586 18.828 24 31.999 9.415 30.585 8" role="presentation">
                        </polygon>
                      </svg>
                    </span>
                    <span class="takeclass-text">
                      <a href="#">Topic-1</a>
                    </span>
                  </div>
                  <div class="assessmentbtns">
                    <button type="button" class="btn assessment-btn" onclick="Assessment()">
                      <i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;Assessment  
                    </button>
                    <!-- <button type="button" class="btn btn-primary takeclass-btn">Upload Videos</button> -->
                    <button class="btn"><i class="bi bi-upload"></i> Upload Video</button>
                  </div>
              </div>
              <div class="takeaclass-buttons-container">
                <div class="takeaclass-buttons">
                  <button type="button" class="btn btn-primary takeclass-btn">History</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Evolution</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Concept Overview</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Lecture</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Importance</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Applications</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Experiments</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Feature Enhancement</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Animation</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Gamification</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Simulation</button>
                  <button type="button" class="btn btn-primary takeclass-btn">AR</button>
                  <button type="button" class="btn btn-primary takeclass-btn">VR</button>
                  <button type="button" class="btn btn-primary takeclass-btn">PDF</button>
                  <button type="button" class="btn btn-primary takeclass-btn">PPT</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Exercise</button>
                  <button type="button" class="btn btn-primary takeclass-btn">Previous Question Papers on this topic</button>
                </div>
              </div>
              
              
              
            </div>

            <div class="row py-2 display-topics">
                <div class="col-2 topics">
                    <div style="border-bottom: 2px solid #70707033;font-weight: bold; padding:10px 0 10px 5px;">Topics</div>
                    <ul class="topic-lists">
                        <li class="form-check">
                            <input class="form-check-input form-check-input-lg" type="checkbox" value="" id="flexCheckDefault" checked>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-1
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-2
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-3
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-4
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-5
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-6
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-7
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-8
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-9
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                            <label class="form-check-label" for="flexCheckDefault">
                                Topic-10
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="col-9 ml-4" >
                    <video src="{% static '/videos/topicvideo.mp4' %}" width="100%" controls></video>
                    <!-- <img src="img/poster-video-img.png" alt="" srcset="" width="100%" height="400px"> -->
                </div>
            </div>

          </div>


        </div>

      </div>
    </div>
  </div>

  <script>
    function Assessment(){
        const route = "{% url 'takeAssessment' %}";
        window.location.href = route;
    }
  </script>

{% endblock %}